
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout1";
}
    
    <section class="mt-5">
        <center>
        <div class="mt-3 p-5 bg-primary text-white rounded">
            <h1> Welcome To Home Page </h1>
            <p>loerm ipus ...........</p>
        </div>
        </center>
    </section>
   

